@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"),
    url(./fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
}
.App {
  display: flex;
  width: 100vw;
}
